In [1]:
import pandas as pd

### Why use encding in DataScinece?
###### Ml algorithms only applicable on numerical data , dose not work with categorical data
###### so we need encding to convert data

#### Label Encoding

###### it performs on nominal data ,, means no connection among data

In [2]:
df  = pd.DataFrame({'name': ["Yt", "crow", "Black", "laptop", "cat"]})
df

     name
0      Yt
1    crow
2   Black
3  laptop
4     cat

In [3]:
from sklearn.preprocessing import   LabelEncoder
le = LabelEncoder()
# Model ko deploye krna hy tou phly fit kr lety then transform , Jb training model ata tou usy fitTransform krna hta again
df["en_name"]  = le.fit_transform(df["name"])
df

     name  en_name
0      Yt        1
1    crow        3
2   Black        0
3  laptop        4
4     cat        2

In [5]:
dataset = pd.read_csv("loan.csv")
la= LabelEncoder()

In [6]:
dataset["Property_Area"].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [ ]:
la.fit(dataset["Property_Area"])
la

In [8]:
dataset["Property_Area"]= la.transform(dataset["Property_Area"])

In [9]:
dataset["Property_Area"].unique() # Urban , Rular, SemiUrban

array([2, 0, 1])